.bgimg{background-image: url('../img/amy.jpg');background-image: cover;background-image: 100% 100%;background-repeat: no-repeat;background-size: cover;height: 650px;width: 100%;}
.welcm{margin-top: 5%;box-sizing: border-box;padding: 10px;}
.welcm h1{font-size: 42px;}
.welcm h2{font-size: 52px;}
.welcm button{width: 15%;font-size: 20px;border-radius: 17px;margin-top: 20px;}
.Services{margin-top: 60px;}
.setting {margin-top: 50px;width: 100px;height: 100px;border-radius: 100px;padding: 10px;}
.setting .fa-lock{margin-top: 20px;}
.setting .fa-desktop{margin-top: 23px;}
.setting .fa-shopping-cart{margin-top: 22px;}
.faicon {margin-top: 60px;}
.faicon p{color: gray;padding: 10px;}
.faicon h2{margin-top: 20px; font-size: 30px; font-weight: bold;}
.portfolio{margin-top: 20px;padding: 10px;}
.portfolio img{width: 100%;height: 100%;}
.Lorem{margin-top: 40px}
.folio{margin-top: 30px;}
.team{margin-top: 50px; }
.team h1{font-size: 30px; font-weight: bold;}
.our img{border-radius: 100%; margin-top: 30px;padding: 10px;}
.our h2{font-weight: bold; margin-top: 10px;}



@media(max-width:1200px){
	/*.bgimg{background-image: cover;background-image: 100% 100%; height: 650px;width: 100%;}*/
	.welcm button{width: 10%;font-size: 12px;border-radius: 17px;margin-top: 10px;}
	.welcm h1{font-size: 32px;}
	.welcm h2{font-size: 42px;}
}

@media(max-width: 992px){
	.bgimg{ background-image: cover;width: 100%;height: 500px;}
	.welcm h1{font-size: 27px;}
	.welcm h2{font-size: 32px}
	.welcm button{width: 10%;font-size: 10px;border-radius: 17px;margin-top: 10px;}
}

@media(max-width: 768px){
	.bgimg{background-image: cover;width: 100%;height: 450px;}
}

@media(max-width: 576px){
	.bgimg{background-image: cover;width: 100%;height: 300px;}
	.welcm h1{font-size: 27px;}
	.welcm h2{font-size: 32px}
	.welcm button{width: 10%;font-size: 10px;border-radius: 17px;margin-top: 10px;}
}
@media(max-width: 360px){
	.bgimg{background-image: cover;width: 100%;height: 200px;}
	.welcm h1{font-size: 15px;}
	.welcm h2{font-size: 17px}
	.welcm button{width: 20%;font-size: 8px;border-radius: 10px;margin-top: 8px;}	
}